{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="w3l-hotair-form">
	<!-- <h1>Report Login Form</h1> -->
	<div class="container">
		<div class="single">  
		   <div class="form-container">
			<h2>Forgot Password</h2>
					<!-- <form onsubmit="return validatee()" action="{% url 'login' %}" method="post" id="logform" -->
					<!-- <form onsubmit="return forgotValidate()" action="{% url 'forgotPassword' %}" method="post" -->
						<form onsubmit="return forgotValidate()" action="{% url 'forgotPassword' %}" method="post" id="logform" name="logform">
						<!-- {{error}} -->
						{% include 'Message.html' %}
						{% csrf_token %}
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-lable" for="email">Email</label>
								<div class="col-md-9">
									<input type="email" name="email" path="email" id="email" placeholder="Email" autocomplete="off" class="form-control input-sm"/>
									<span id="log-email" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
								</div>
							</div>
					</div>
							<div class="row">
								<div class="form-actions floatRight">
									<input type="submit" value="Sent Mail" class="btn btn-primary btn-sm">
								</div>
							</div>
					</form>

					<p class="account"> If you Remember your Password <a href="{% url 'login' %}">Login</a></p>
				</div>
				
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	function forgotValidate() {
		var email = document.getElementById('email1').value;
		var form = document.getElementById('logform');
		const isEmailValid = (email) => {
			const re =
				/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		};


		if (email == "") {
			// document.getElementById('email2').innerHTML = "please provide email";
			document.getElementById("log-email").textContent = "***please provide email";
			document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("log-email").style.color = "red";
			return false;
		} else if (isEmailValid(email) == false) {
			document.getElementById("log-email").textContent = "***Please provide valid email";
			document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("log-email").style.color = "red";
			return false;
		} else {
			// submit forms
			form.submit();
		}
	}
</script>




{% endblock content %}