<!DOCTYPE HTML>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% extends 'base.html' %}
{% load static %}
<html>

<body>
	{% block content %}
	
<div class="container">
	<br>
	<br>
	
	
	 <div class="col-md-8 single_right">
	 	   <div class="login-form-section">
                <div class="login-content">
                    <form method="POST" action="{% url 'login' %}" id="form">
						{% include 'Message.html' %}
						{% csrf_token %}
                        <div class="section-title">
                            <h3>Login to your Account</h3>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
								<span class="input-group-addon "   id ="mail"> <i class="fa fa-user"></i></span>
                                <input type="email" required="required" name="email" class="form-control" id="email" placeholder="Email" autocomplete="off"
								onkeyup="emailvalidate()">
							
                            </div>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon" id ="pass"><i class="fa fa-key"></i></span>
                                <input type="password" required="required" class="form-control " id="password" name="password" placeholder="Password" onkeyup="passwordValidate()">
                                
							</div>
                        </div>
                        
						<div class="row">
							<div class="form-group col-md-12">
							
								<div class="col-md-9">
									<div class="g-recaptcha" data-sitekey="6Lf4lrYiAAAAAGPMaef9MJIykEJGwSmLH0LT00q5"></div>
									<div id="g-recaptcha-error"></div>
									<!-- <span id="names" style="font-size:12px;margin-top:-5px;" class="text-danger"></span> -->
								</div>
							</div>
						</div>
				 		
							<div class="login-para">
								<p><a href="/Account/forgotPassword/"> Forgot Password? </a></p>
							 </div>
   
				 		 
					     <div class="clearfix"> </div>
			        </div>
					<div class="login-btn">
					   <input type="submit" name="submit" value="Log in" >
					</div>
					<div class="login-bottom">
					 
						<h4>Don,t have an Account? <a href="{% url 'register' %}"> Register Now!</a></h4>
					 </div>
		           </div>
                </div>
         </div>
		 <br>
		 <br>
		 <br>
		 
		 
		 <br>
		 <br>
		 <br>
   </div> </form>
  <div class="clearfix"> </div>
 </div>
</div>

  
  </div>
</div>
</body>
<script type="text/javascript">
	// function verifyCaptcha() {
	// 	document.getElementById('g-recaptcha-error').innerHTML = '';
	// }

	function clearBorder(e) {
		document.getElementById(e).textContent = "";
		document.getElementById(e).style.border = "1px solid white";
		document.getElementById(e).style.color = "white";

	}

	function emailvalidate() {
		var email = document.getElementById('email').value;

		const isEmailValid = (email) => {
			const re =
				/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		};
		if (email == "") {
			document.getElementById("mail").textContent = "***please provide email";
			// document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("mail").style.color = "red";
			return false;
		} else if (isEmailValid(email) == false) {
			document.getElementById("mail").textContent = "***Email is not valid";
			// document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("mail").style.color = "red";
			return false;
		} else if (isEmailValid(email) == true) {
			clearBorder('mail')
			return true;

		}

	}

	function passwordValidate() {
		var password = document.getElementById("password").value;

		if (password == "") {
			document.getElementById("pass").textContent = "***Please provide password";
			// document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("pass").style.color = "red";

		} else {
			clearBorder('pass');
		}
	}

	function validatee() {
		var frm = document.getElementById('form').value;
		var email = document.getElementById('email').value;
		var password = document.getElementById("password").value;

		if (grecaptcha.getResponse() == "") {

			document.getElementById('g-recaptcha-error').textContent = "enter the Captcha";
			document.getElementById("g-recaptcha-error").style.color = "red";
			return false;
		}
		if (email == "") {
			document.getElementById('mail').textContent = "Please enter your email";
			document.getElementById("mail").style.color = "red";
			return false;
		} else if (!isEmailValid(email)) {
			document.getElementById('mail').textContent = "enter a valid email";
			document.getElementById("mail").style.color = "red";
			return false;
		} else if (password == "") {
			document.getElementById('pass').textContent = "Please enter your password";
			document.getElementById("pass").style.color = "red";
			return false;
		} else if (grecaptcha.getResponse() == "") {
			alert(response)
			document.getElementById('g-recaptcha-error').innerHTML =
				'<span style="color:red;">This field is required.</span>';
			return false;
		} else {
			return true;
		}


	}
</script>

{% endblock %}

</html>	