
<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
<html>
    

<body>
	{% block content %}
	   
	    

<div class="container">
    <div class="single">  
	   <div class="form-container">
        <h2>Register Form</h2>
        <form method="POST"   onclick="return validation()" action="{% url 'register' %}" id="register">
            {% csrf_token %}
            {% include 'Message.html' %}
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-lable" for="role">Register As</label>
                    <div class="col-md-9">
                        <select path="role" id="role"  name="role" class="form-control input-sm">
                            <option value="" disabled>select</option>
                            <option value="is_employee">Employee</option>
                            <option value="is_company">Company</option>
                        </select>
                    </div>
                </div>
            </div>
          <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="firstName">First Name</label>
                <div class="col-md-9">
                    <input type="text" path="firstName" name="first_name" id="firstname"  autocomplete="off"  onkeyup='fnameValidation(this)' required class="form-control input-sm"/>
                    <span id="name" style="font-size:12px;margin-top:-5px;"  style="color:red"  class="text-danger"></span>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="lastName">Last Name</label>
                <div class="col-md-9">
                    <input type="text" path="lastName" name="last_name" id="lastname"   autocomplete="off" onkeyup='lnameValidation(this)' required class="form-control input-sm"/>
                    <span id="names" style="font-size:12px;margin-top:-5px;" style="color:red" class="text-danger"></span>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="Username">Username</label>
                <div class="col-md-9">
                    <input type="text" path="username" name="username" id="username" class="form-control input-sm"/>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable"  for="mobile">Mobile Number</label>
                <div class="col-md-9">
                    <input type="tel" path="Mobile" id="mobile"  onkeyup='phoneValidation(this)' autocomplete="off"  required name="mobile" class="form-control input-sm"/>
                    <span id="pho" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="Gender">Gender</label>
                <div class="col-md-9">
                    <select path="gender" id="gender" name="gender" class="form-control input-sm">
                        <option value="">Select Gender</option>
                        <option value="">Male</option>
                        <option value="">Female</option>
                        <option value="">Other</option>
                    </select>
                    
                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="Dob">Date of birth</label>
                <div class="col-md-9">
                    <input type="date" name="dob" autocomplete="off" path="dob" min="1990-01-01" max="2004-01-01" id="dob" class="form-control input-sm"/>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="email">Email</label>
                <div class="col-md-9">
                    <input type="email" name="email" path="email" autocomplete="off" id="email" style="color:red" onkeyup='emailValidation(this)' required  class="form-control input-sm"/>
                    <span id="mail" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="country">Country</label>
                <div class="col-md-9">
                    <select path="country" id="country"  name="country"  class="form-control input-sm">
                        <option value="">Select Country</option>
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <option value="Anguilla">Anguilla</option>
                        <option value="Antartica">Antarctica</option>
                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Armenia">Armenia</option>
                        <option value="Aruba">Aruba</option>
                        <option value="Australia">Australia</option>
                       
                        <option value="Gambia">Gambia</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Germany</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Gibraltar">Gibraltar</option>
                        <option value="Greece">Greece</option>
                        <option value="Greenland">Greenland</option>
                        <option value="Grenada">Grenada</option>
                        <option value="Guadeloupe">Guadeloupe</option>
                        <option value="Guam">Guam</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Guinea-Bissau">Guinea-Bissau</option>
                        <option value="Guyana">Guyana</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
                        <option value="Holy See">Holy See (Vatican City State)</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Hong Kong">Hong Kong</option>
                        <option value="Hungary">Hungary</option>
                        <option value="Iceland">Iceland</option>
                        <option value="India">India</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="Iran">Iran (Islamic Republic of)</option>
                        <option value="Iraq">Iraq</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Italy</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japan</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Kazakhstan">Kazakhstan</option>
                        <option value="Kenya">Kenya</option>
                        <option value="Kiribati">Kiribati</option>
                       
                        <option value="Turkey">Turkey</option>
                        <option value="Turkmenistan">Turkmenistan</option>
                        <option value="Turks and Caicos">Turks and Caicos Islands</option>
                       
                        </select>
                        
                    
                </div>
            </div>
        </div>
         -->
        
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="password">Password</label>
                <div class="col-md-9">
                    <input type="password" name="password" autocomplete="off" path="password"  onkeyup='passwordValidation(this)' required id="password" class="form-control input-sm"/>
                    <span id="pa1" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="cpassword">Confirm Password</label>
                <div class="col-md-9">
                    <input type="password" name="cpassword" autocomplete="off"   path="cpassword" id="cpassword"onkeyup='cpasswordValidation(this)' required  class="form-control input-sm"/>
                 <span id="pa1" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="form-actions floatRight">
                <input type="submit" value="Register" class="btn btn-primary btn-sm">
            </div>
        </div>
    </form>
    </div>
 </div>
</div>

<script>


function inputValidation(inputTxt){
    
    var regx = /^[0-9a-zA-Z ]+$/;
    var textField = document.getElementById("textField");
        
    if(inputTxt.value != '' ){
    
        if(inputTxt.value.length >= 5){
        
            if(inputTxt.value.match(regx)){
                textField.textContent = 'Good input';
                textField.style.color = "green";
                    
            }else{
                textField.textContent = 'only numbers, letters And White space';
                textField.style.color = "red";
            }  
        }else{
            textField.textContent = 'your input is less than 5 chracters';
            textField.style.color = "red";
        }   
    }else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
}
    function fnameValidation(inputTxt){

var regx = /^[a-zA-Z]+$/;
var textField = document.getElementById("name");

if(inputTxt.value != '' ){

    if(inputTxt.value.length >= 2){

        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'only characters allowded';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input mut me more than two chracters';
        textField.style.color = "red";
    }
}else{
    textField.textContent = 'your input is empty';

    textField.style.color = "red";
}
}

function lnameValidation(inputTxt){

var regx = /^[a-zA-Z  ]+$/;
var textField = document.getElementById("names");

if(inputTxt.value != '' ){

    if(inputTxt.value.length >= 1){

        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'only characters allowded';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input mut me more than two chracters';
        textField.style.color = "red";
    }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}

function addressValidation(inputTxt){

var regx = /^[a-zA-Z-()]+$/;
var textField = document.getElementById("address");

if(inputTxt.value != '' ){

    if(inputTxt.value.length >= 4){

        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'only characters allowded';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input mut me more than two chracters';
        textField.style.color = "red";
    }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}


function emailValidation(inputTxt){
// ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$
var regx = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
var textField = document.getElementById("email");

if(inputTxt.value != '' ){
    if(inputTxt.value.match(regx)){
        textField.textContent = '';
        textField.style.color = "green";
    }else{
        textField.textContent = 'email is not valid!!!';
        textField.style.color = "red";
    }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}

function phoneValidation(inputTxt){

var regx = /^[6-9][0-9]{9}$/;
var textField = document.getElementById("pho");

if(inputTxt.value != '' ){
    if(inputTxt.value.match(regx)){
        textField.textContent = '';
        textField.style.color = "green";
        }else{
            textField.textContent = '**not valid phone number';
            textField.style.color = "red";
        }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}


// function cityValidation(inputTxt){

// var regx = /^[a-zA-Z]+$/;
// var textField = document.getElementById("city");

// if(inputTxt.value != '' ){

//     if(inputTxt.value.length >= 1){

//         if(inputTxt.value.match(regx)){
//             textField.textContent = '';
//             textField.style.color = "green";

//         }else{
//             textField.textContent = 'only characters allowded';
//             textField.style.color = "red";
//         }
//     }else{
//         textField.textContent = 'your input mut me more than two chracters';
//         textField.style.color = "red";
//     }
// }else{
//     textField.textContent = 'your input is empty';
//     textField.style.color = "red";
// }
// }

// function stateValidation(inputTxt){

// var regx = /^[a-zA-Z]+$/;
// var textField = document.getElementById("state");

// if(inputTxt.value != '' ){

//     if(inputTxt.value.length >= 1){

//         if(inputTxt.value.match(regx)){
//             textField.textContent = '';
//             textField.style.color = "green";

//         }else{
//             textField.textContent = 'only characters allowded';
//             textField.style.color = "red";
//         }
//     }else{
//         textField.textContent = 'your input mut me more than two chracters';
//         textField.style.color = "red";
//     }
// }else{
//     textField.textContent = 'your input is empty';
//     textField.style.color = "red";
// }
// }

// function pincodeValidation(inputTxt){

// var regx = /^[6][0-9]{5}$/;
// var textField = document.getElementById("pincode");

// if(inputTxt.value != '' ){
//         if(inputTxt.value.match(regx)){
//             textField.textContent = '';
//             textField.style.color = "green";

//         }else{
//             textField.textContent = 'only valid pincode';
//             textField.style.color = "red";
//         }
// }else{
//     textField.textContent = 'your input is empty';
//     textField.style.color = "red";
// }
// }


function passwordValidation(inputTxt){

var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
var textField = document.getElementById("pa1");

if(inputTxt.value != '' ){
        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
            textField.style.color = "red";
        }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}


function cpasswordValidation(inputTxt){

var regx =  document.getElementById("password").value;
var regy =  document.getElementById("cpassword").value;
var textField = document.getElementById("pa1");
var textField1 = document.getElementById("pa2");

if(inputTxt.value != '' ){
        if(regx == regy){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'not match';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = '';
        textField.style.color = "red";
    }
}




           
function validation(){
        var fname=document.getElementById('firstname').value;
        var regx = /^[A-Za-z]+$/;

          if(fname==""){
             document.getElementById('name').innerHTML="**Please enter your firstname";
             return false;
          }
          else{
             document.getElementById('name').innerHTML="";
          }

          if((fname.length<=2)||(fname.length>20)){
             document.getElementById('name').innerHTML="**your firstname must include more characters";
             return false;
          }
          else{
             document.getElementById('name').innerHTML="";
          }

           
          if(!fname.match(/^[A-Za-z]+$/)){

             document.getElementById('name').innerHTML="**Only characters are allowed";
             return false;

          }
          else{
             document.getElementById('name').innerHTML="";
          }


          var lname=document.getElementById('lastname').value;
          if(lname==""){
             document.getElementById('names').innerHTML="**Please enter your lastname";
             return false;
          }
          else{
             document.getElementById('names').innerHTML="";
          }

          if((lname.length<=1)||(lname.length>20)){
             document.getElementById('names').innerHTML="**your firstname must include more characters";
             return false;
          }
          else{
             document.getElementById('names').innerHTML="";
          }


          if(!lname.match(/^[A-Za-z\s, ]+$/)){

            document.getElementById('names').innerHTML="**Only characters are allowed";
            return false;

            }
            else{
            document.getElementById('names').innerHTML="";
            }
        
        // var detail=document.getElementById('details').value;

        // if(detail==""){
        // document.getElementById('addr').innerHTML="**Please enter your address";
        // return false;
        // }
        // else{
        // document.getElementById('addr').innerHTML="";
        // }
        // if((detail.length<=4)||(detail.length>60)){

        // document.getElementById('addr').innerHTML="**User length must include more characters";
        // return false;

        // }
        // else{
        // document.getElementById('addr').innerHTML="";
        // }

        // if (!detail.match(/^[a-zA-Z\s,()'-]*$/)) 
        // {
        //     document.getElementById('email').innerHTML="**enter a Valid Email";
        //     return false;
        // }
        // else{
        //     document.getElementById('email').value = "";
        // }
    
        var val = document.getElementById('email').value;
        if(val==""){
        document.getElementById('mail').innerHTML="**Please enter your address";
        return false;
        }
        else{
        document.getElementById('mail').innerHTML="";
        }

        if (!val.match(/([A-z0-9_\-\.]){1,}\@([A-z0-9_\-\.]){1,}\.([A-Za-z]){2,4}$/)) 
        {
            document.getElementById('mail').innerHTML="**enter a Valid Email";
            return false;
        }
        else{
            document.getElementById('mail').value = "";
        }


        var phon=document.getElementById('mobile').value;
        if(phon==""){

            document.getElementById('pho').innerHTML="**Please enter your phone number";
            return false;
        }
        else{
            document.getElementById('pho').innerHTML="";
        }
        if(!phon.match(/^[6-9][0-9]{9}$/)){

            document.getElementById('pho').innerHTML="**Please enter a valid phone number";
            return false;
        }
        else{
            document.getElementById('pho').innerHTML="";
        }
        if(phon.length!=10){

            document.getElementById('pho').innerHTML="**Phone number must be 10 digits only";
            return false;
        }
        else{
            document.getElementById('pho').innerHTML="";
        }


        // var cities=document.getElementById('city').value;
        // if(cities==""){
        // document.getElementById('cit').innerHTML="**Please enter your city";
        // return false;
        // }
        // else{
        //     document.getElementById('cit').innerHTML="";
        // }
        // if(!cities.match(/^[a-zA-Z\s, ]+$/)){
        // document.getElementById('cit').innerHTML="**enter a valid city";
        // return false;
        // }
        // else{
        // document.getElementById('cit').innerHTML="";
        // }
        // if((cities.length<=4)||(detail.length>60)){

        // document.getElementById('cit').innerHTML="**User length must include more characters";
        // return false;

        // }
        // else{
        // document.getElementById('cit').innerHTML="";
        // }

        // var cities=document.getElementById('district').value;
        // if(cities==""){
        // document.getElementById('states').innerHTML="**Please enter your district";
        // return false;
        // }
        // else{
        //     document.getElementById('states').innerHTML="";
        // }
        // if(!cities.match(/^[a-zA-Z\s, ]+$/)){
        // document.getElementById('states').innerHTML="**enter a valid district";
        // return false;
        // }
        // else{
        // document.getElementById('states').innerHTML="";
        // }
        // if((cities.length<=3)||(detail.length>60)){

        // document.getElementById('states').innerHTML="**User length must include more characters";
        // return false;

        // }
        // else{
        // document.getElementById('states').innerHTML="";
        // }

        // var code=document.getElementById('pincode').value;  
        // if (code=="")   
        // {  
        //     document.getElementById('pin').innerHTML="**Please enter the pincode";
        //     return false;
        // }   
        // else   
        // {  
        //     document.getElementById('pin').innerHTML=""; 
        // } 
       
        // if(!code.match(/^[6][0-9]{5}$/)){

        // document.getElementById('pin').innerHTML="**enter a valid pincode";
        // return false;

        // }
        // else{
        // document.getElementById('pin').innerHTML="";
        // }
        // if(code.length!=6){

        // document.getElementById('pin').innerHTML="**enter a valid pincode";
        // return false;
        // }
        // else{
        // document.getElementById('pin').innerHTML="";
        // }

        // // var fe=document.getElementById('f').Checked;
        // // var ma=document.getElementById('m').checked;
        // // if(ma == true) {   
        // //         document.getElementById("dis").innerHTML ="You have selected male any";   
        // //         return false;
        // //     }   
        // //     else if(fe == true){   
        // //         document.getElementById("dis").innerHTML = "You have selected female any";  
        // //         return false; 
        // //     }  
        // //     else{
        // //         document.getElementById("dis").innerHTML = "You have not selected  any";
        // //     }

        var val = document.getElementById('password').value;
        if(val=="")
        {
            document.getElementById('pa1').innerHTML="**Password can't be null!!";
            return false;
        }
        else{
            document.getElementById('pa1').value = "";
        }
        if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/)) 
        {
            document.getElementById('pa1').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters'";
            return false;
        }
        else{
            document.getElementById('pa1').value = "";
        }
         
        // var val = document.getElementById('pwd').value;
        // var pattern = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
        // if (val != pattern) 
        // {
        //     document.getElementById('pass1').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters";
        //     return false;
        // }
        // else{
        //     document.getElementById('pass1').value = "";
        // }

        var ps2=document.getElementById('cpassword').value;
        if(ps2==""){
        document.getElementById('pa2').innerHTML="**confrim password can't be null!!";
        return false;
        }
        else{
        document.getElementById('pa2').innerHTML="";
        }
        if(ps2!= document.getElementById('pwd').value){
        document.getElementById('pa2').innerHTML="**passwords should be matching";
        return false;
        }
        else{
        document.getElementById('pa2').innerHTML="";
        }

        // if(val!=ps2){
        // document.getElementById('pass2').innerHTML="**passwords should be matching";
        // return false;
        // }
        // else{
        // document.getElementById('pass2').innerHTML="";
        // }
}

</script>

{% endblock %}
</body>
</html>	