{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="w3l-hotair-form">
	<!-- <h1>Report Login Form</h1> -->
	<div class="container">
		<!-- /form -->
	
			<div class="single">  
				<div class="form-container">
					<h2>Reset Password</h2>
					<!-- <form onsubmit="return validatee()" action="{% url 'login' %}" method="post" id="logform" -->
					<form  onsubmit="return resetValidate()" action="{% url 'resetPassword' %}" method="post"
						id="logform" name="logform">
						<!-- {{error}} -->
						{% include 'Message.html' %}
						{% csrf_token %}
						<div class="form-group">
							<label class="col-md-3 control-lable" for="New Password">New Password</label>
							<input type="password" class="password" id="new_password" name="password" onkeyup="passwordValidation(this)" placeholder="Password">
							<span class="text-danger" id="new" style="color:red"> </span><br>
							<br>
					
							<label class="col-md-3 control-lable" for="Confirm Password">Confirm Password</label>
							<input type="password" class="password" id="confirm_password" name="confirm_password"   onkeyup="cpasswordValidation(this)"  placeholder="Confirm Password">
							<span class="text-danger" id="confirm" style="color:red"> </span><br>
						</div>
						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Reset Password" class="btn btn-primary btn-sm">
							</div>
						</div>
		
					</form>

					<p class="account">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
				</div>
				<div class="w3l_form align-self">
					<div class="left_grid_info">
						<img src="{% static 'img/log2.jpg' %}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<script type="text/javascript">
    function resetValidate() {
        var val = document.getElementById('new_password').value;
            if(val=="")
            {
                document.getElementById('new').innerHTML="**Password can't be null!!";
                return false;
            }
            else{
                document.getElementById('new').value = "";
            }
            if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/)) 
            {
                document.getElementById('new').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters'";
                return false;
            }
            else{
                document.getElementById('new').value = "";
            }

            var val = document.getElementById('confirm_password').value;
            if(val=="")
                {
                    document.getElementById('confirm').innerHTML="**Password can't be null!!";
                    return false;
                }
                else{
                document.getElementById('confirm').value = "";
            }

            if(val != document.getElementById('new_password').value){
            document.getElementById('confirm').innerHTML="**passwords should be matching";
            return false;
            }
            else{
            document.getElementById('confirm').innerHTML="";
            }
    }

    function passwordValidation(inputTxt){
    
    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
    var textField = document.getElementById("new");
        
    if(inputTxt.value != '' ){
            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";
                    
            }else{
                textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                textField.style.color = "red";
            }    
    }else{
        textField.textContent = '**Password cannot be null!!';
        textField.style.color = "red";
    }
}

function cpasswordValidation(inputTxt){
    
    var regx =  document.getElementById("confirm_password").value;
    var regy =  document.getElementById("new_password").value;
    var textField = document.getElementById("confirm");
        
    if(inputTxt.value != '' ){
            if(regx == regy){
                textField.textContent = '';
                textField.style.color = "green";
                    
            }else{
                textField.textContent = '**password should be matching';
                textField.style.color = "red";
            }    
    }else{
        textField.textContent = '**Password cannot be null!!';
        textField.style.color = "red";
    }
}

</script>

{% endblock  %}
