{% extends 'Employee/userbase.html' %}
{% load static %}

<!DOCTYPE HTML>
<html>
{% block content %}
<body>
<div class="container">
	<!-- Recent Jobs -->
 <div class="eleven columns">
	<div class="padding-right">
		
		


		<ul class="job-list full">
			{% for i in job_list %}
			<li>
				<div class="thumb"><img src="{{i.logo.url}}" class="img-responsive" alt=""/></a></div>
				
				<div class="job-list-content">
					<a href="{%  url 'singlejob' i.id %} ">
					<h4>  	{{i.companyname}}/{{i.jobname}} <span class="full-time">{{i.jobtype}}</span></h4>
					<div class="job-icons">
						<span><i class="fa fa-briefcase"></i> {{i.jobname}}</span>
						<span><i class="fa fa-map-marker"></i> {{i.location}}</span>
						<span><i class="fa fa-money"></i>{{i.salarypackage}}</span>
						
					</div>
					<p> {{i.companyaddress}}</p>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>

			{% endfor %}
		</ul>
		<div class="clearfix"></div>

		<div class="pagination-container">
			  <center>    <nav class="pagination">
				<ul>
					   <li><a href="#" class="current-page">1</a></li>
					    <li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">22</a></li>
				</ul>
			      </nav></center>
           
			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">Previous</a></li>
					<li><a href="#" class="next">Next</a></li>
				</ul>
			</nav>
		</div>

	</div>
	</div>



</div>
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
</body>
	
{% endblock %}		






	
		





</html>	