<!DOCTYPE HTML>
{% extends 'Employee/userbase.html' %}
{% load static %}
<html>
<head>

<body>
{% block content %}
<div class="banner">
	<div class="container">
		<div id="search_wrapper">
		 <div id="search_form" class="clearfix">
		<form action="{% url 'searchbar' %}" method="GET">
		 <h1>Start your job search</h1>
		    <p>
			 <input type="text" class="text" placeholder="Search " value="Enter Keyword(s)"  name="query" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Keyword(s)';}">
		
			 <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Find Jobs"></label>
			</p>
			</form>
           
         </div>
		 
       </div>
   </div> 
</div>	

{% endblock %}

</body>
</html>	