{% extends 'Comp/base1.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    {% block content %}
            <body class="sb-nav-fixed">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                       
                        
                        
                        
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                             Posted Job list
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Company Name</th>
                                            <th>Location</th>
                                            <th>Email</th>
                                            <th>Experience needed</th>
                                            <th>Salary Package</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Company Name</th>
                                            <th>Location</th>
                                            
                                            <th>Experience needed</th>
                                            <th>Email</th>
                                            <th>Salary Package</th>  
                                        </tr>
                                    </tfoot>
                                    {% if p %}
                                    <tbody>
                                        {% for i in p %}
                                        <tr>
                                            <td>{{i.jobname}}</td>
                                            <td>{{i.companyname}}</td>
                                            <td>{{i.location}}</td>
                                            <td>{{i.experience}}</td>
                                            <td>{{i.companyemail}}</td>
                                            <td>{{i.salarypackage}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                    </div>
                </main>
            </div>
        </body>
        {% endblock %}
</html>
