<!DOCTYPE HTML>
{% extends 'Company/Companybase.html' %}
{% load static %}
<html>
<head>
<!----font-Awesome----->
</head>
<body>
	{% block content %}
	   
	    

<div class="container">
    <div class="single">  
	   <div class="form-container">
        <h2>Company Profile</h2>
        <form method="POST"   action="{% url 'C_profile' %}" id="profile">
            {% csrf_token %}
            {% include 'Message.html' %}
            
          <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="firstName">First Name</label>
                <div class="col-md-9">
                    <input type="text" path="firstName" name="first_name" id="firstname"   value="{{usr.first_name}}" required class="form-control input-sm"/>
                    <span id="name" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="lastName">Last Name</label>
                <div class="col-md-9">
                    <input type="text" path="lastName" name="last_name" id="lastname"  value="{{usr.last_name}}"  class="form-control input-sm"/>
                    <span id="names" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="Companyname">Companyname</label>
                <div class="col-md-9">
                    <input type="text" path="cname" name="cname" id="cname"  class="form-control input-sm"/>
                    <span id="names" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable"  for="mobile">Mobile Number</label>
                <div class="col-md-9">
                    <input type="tel" path="Mobile" id="mobile"   value="{{usr.contact}}"  required name="mobile" class="form-control input-sm"/>
                    <span id="pho" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="email">Email</label>
                <div class="col-md-9">
                    <input type="email" name="email" path="email"  id="email"  value="{{usr.email}}" required  class="form-control input-sm"/>
                    <span id="mail" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="address"> Company Address</label>
                <div class="col-md-9">
                    <textarea path="firstName" name="first_name" id="address"   required class="form-control input-sm"></textarea>
                    <span id="name" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                </div>
            </div>
         </div>
        
       
        
        
        
        <div class="row">
            <div class="form-actions floatRight">
                <input type="submit" value="Update Profile" class="btn btn-primary btn-sm">
            </div>
        </div>
    </form>
    </div>
 </div>
</div>



       
{% endblock %}
</body>
</html>	