<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!----font-Awesome----->
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="http://127.0.0.1:8000/Companyhome/"><img src="{% static 'images/logo.png' %}" alt=""/></a>
	    </div>
	    <!--/.navbar-header-->
	    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
	        <ul class="nav navbar-nav">
		        
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Post Job<b class="caret"></b></a>
		             <ul class="dropdown-menu">
			            <li><a href="http://127.0.0.1:8000/Company/postjob/">Post Job</a></li>
			      
		             </ul>
		        </li>
		    
		        <li class="dropdown">
		            <a href="#" class="navbar-brand" data-toggle="dropdown"><img src="{% static 'images/user.png' %}" alt="" width="25" height="25"/></a>
		             <ul class="dropdown-menu">
			            <li><a href=" ">Change Password</a></li>
			            <li><a href="/Company/C_profile">Update Profile</a></li>
			            <li><a href="{% url 'logout' %}" >LOGOUT</a></li> 
		             </ul>
		        </li>
		        
		        {% if user.is_authenticated %}

      <font color="white" size="5">  {{user.username}}</font>
            {% endif %}
	        </ul>
	    </div>
	    <div class="clearfix"> </div>
	  </div>
	    <!--/.navbar-collapse-->
	</nav>
{% block content %} {% endblock %}s
<!--footer-->
<div class="footer">
	<div class="container">




  	<div class="clearfix"> </div>
	<div class="copy">
		<p>Copyright © 2022 Seeking . All Rights Reserved . Design by <a href="http://jobportal.com/" target="_blank">Seeking</a> </p>
	</div>
  </div>
</div>
</body>
</html>