<!DOCTYPE HTML>
{% extends 'Company/Companybase.html' %}
{% load static %}
<html>
<head>
    
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!----font-Awesome----->
</head>
<body>
	{% block content %}
	   
	    

<div class="container">
    <div class="single">  
	   <div class="form-container">
        <h2>Post job</h2>
        <form method="POST"   onclick="return validation()" action="{% url 'register' %}" id="register">
            {% csrf_token %}
            {% include 'Message.html' %}
            
          <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="Jobtitle">Job Title</label>
                <div class="col-md-9">
                    <input type="text" path="jobname" name="jobname" id="Jobname"   autocomplete="off"  onkeyup='fnameValidation(this)' required class="form-control input-sm"/>
                    <span id="name" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="companyname">Company Name</label>
                <div class="col-md-9">
                    <input type="text" path="companyname" name="companyname" id="companyname" style="color:red"  autocomplete="off" onkeyup='lnameValidation(this)' required class="form-control input-sm"/>
                    <span id="names" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="companyname">Company Name</label>
                <div class="col-md-9">
                    <input type="text" path="companyname" name="companyname" id="companyname" style="color:red"  autocomplete="off" onkeyup='lnameValidation(this)' required class="form-control input-sm"/>
                    <span id="names" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-lable" for="salary">Salary Package </label>
                    <div class="col-md-9">
                        <input type="text" path="salary" name="salary" id="salary" style="color:red"  autocomplete="off" onkeyup='lnameValidation(this)' required class="form-control input-sm"/>
                        <span id="names" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-lable" for="Experience">Experience</label>
                        <div class="col-md-9">
                            <input type="text" path="exp" name="exp" id="exp" style="color:red"  autocomplete="off" onkeyup='lnameValidation(this)' required class="form-control input-sm"/>
                            <span id="names" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                        </div>
                    </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-lable" for="Caddress">Address</label>
                    <div class="col-md-9">
                        <textarea path="C_address" name="C_address" id="Caddress"  autocomplete="off"  onkeyup='fnameValidation(this)' required class="form-control input-sm"></textarea>
                        <span id="name" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-lable" for="Desp">Description</label>
                    <div class="col-md-9">
                        <textarea path="Desp" name="desp" id="desp"  autocomplete="off"  onkeyup='fnameValidation(this)' required class="form-control input-sm"></textarea>
                        <span id="name" style="font-size:12px;margin-top:-5px;" class="text-danger"></span>
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-lable"  for="mobile">Mobile Number</label>
                    <div class="col-md-9">
                        <input type="tel" path="Mobile" id="mobile"   onkeyup='phoneValidation(this)' autocomplete="off"  required name="mobile" class="form-control input-sm"/>
                        <span id="pho" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-lable" for="C_email">Email</label>
                    <div class="col-md-9">
                        <input type="email" name="C_email" path="C_email" autocomplete="off" id="email" onkeyup='emailValidation(this)'  required  class="form-control input-sm"/>
                        <span id="mail" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-lable" for="logo">logo</label>
                    <div class="col-md-9">
                        <input type="file" id="img" name="img" accept="image/*"   required  class="form-control input-sm"/>
                        <span id="mail" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="form-actions floatRight">
                <input type="submit" value="Post Job" class="btn btn-primary btn-sm">
            </div>
        </div>
        <div class="clearfix"> </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </form>
    </div>
 </div>
</div>

<script>


function inputValidation(inputTxt){
    
    var regx = /^[0-9a-zA-Z ]+$/;
    var textField = document.getElementById("textField");
        
    if(inputTxt.value != '' ){
    
        if(inputTxt.value.length >= 5){
        
            if(inputTxt.value.match(regx)){
                textField.textContent = 'Good input';
                textField.style.color = "green";
                    
            }else{
                textField.textContent = 'only numbers, letters And White space';
                textField.style.color = "red";
            }  
        }else{
            textField.textContent = 'your input is less than 5 chracters';
            textField.style.color = "red";
        }   
    }else{
        textField.textContent = 'your input is empty';
        textField.style.color = "red";
    }
}
    function fnameValidation(inputTxt){

var regx = /^[a-zA-Z]+$/;
var textField = document.getElementById("name");

if(inputTxt.value != '' ){

    if(inputTxt.value.length >= 2){

        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'only characters allowded';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input mut me more than two chracters';
        textField.style.color = "red";
    }
}else{
    textField.textContent = 'your input is empty';

    textField.style.color = "red";
}
}

function lnameValidation(inputTxt){

var regx = /^[a-zA-Z  ]+$/;
var textField = document.getElementById("names");

if(inputTxt.value != '' ){

    if(inputTxt.value.length >= 1){

        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'only characters allowded';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input mut me more than two chracters';
        textField.style.color = "red";
    }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}

function addressValidation(inputTxt){

var regx = /^[a-zA-Z-()]+$/;
var textField = document.getElementById("address");

if(inputTxt.value != '' ){

    if(inputTxt.value.length >= 4){

        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'only characters allowded';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your input mut me more than two chracters';
        textField.style.color = "red";
    }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}


function emailValidation(inputTxt){
// ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$
var regx = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
var textField = document.getElementById("email");

if(inputTxt.value != '' ){
    if(inputTxt.value.match(regx)){
        textField.textContent = '';
        textField.style.color = "green";
    }else{
        textField.textContent = 'email is not valid!!!';
        textField.style.color = "red";
    }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}

function phoneValidation(inputTxt){

var regx = /^[6-9][0-9]{9}$/;
var textField = document.getElementById("pho");

if(inputTxt.value != '' ){
    if(inputTxt.value.match(regx)){
        textField.textContent = '';
        textField.style.color = "green";
        }else{
            textField.textContent = '**not valid phone number';
            textField.style.color = "red";
        }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}


// function cityValidation(inputTxt){

// var regx = /^[a-zA-Z]+$/;
// var textField = document.getElementById("city");

// if(inputTxt.value != '' ){

//     if(inputTxt.value.length >= 1){

//         if(inputTxt.value.match(regx)){
//             textField.textContent = '';
//             textField.style.color = "green";

//         }else{
//             textField.textContent = 'only characters allowded';
//             textField.style.color = "red";
//         }
//     }else{
//         textField.textContent = 'your input mut me more than two chracters';
//         textField.style.color = "red";
//     }
// }else{
//     textField.textContent = 'your input is empty';
//     textField.style.color = "red";
// }
// }

// function stateValidation(inputTxt){

// var regx = /^[a-zA-Z]+$/;
// var textField = document.getElementById("state");

// if(inputTxt.value != '' ){

//     if(inputTxt.value.length >= 1){

//         if(inputTxt.value.match(regx)){
//             textField.textContent = '';
//             textField.style.color = "green";

//         }else{
//             textField.textContent = 'only characters allowded';
//             textField.style.color = "red";
//         }
//     }else{
//         textField.textContent = 'your input mut me more than two chracters';
//         textField.style.color = "red";
//     }
// }else{
//     textField.textContent = 'your input is empty';
//     textField.style.color = "red";
// }
// }

// function pincodeValidation(inputTxt){

// var regx = /^[6][0-9]{5}$/;
// var textField = document.getElementById("pincode");

// if(inputTxt.value != '' ){
//         if(inputTxt.value.match(regx)){
//             textField.textContent = '';
//             textField.style.color = "green";

//         }else{
//             textField.textContent = 'only valid pincode';
//             textField.style.color = "red";
//         }
// }else{
//     textField.textContent = 'your input is empty';
//     textField.style.color = "red";
// }
// }


function passwordValidation(inputTxt){

var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
var textField = document.getElementById("pa1");

if(inputTxt.value != '' ){
        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
            textField.style.color = "red";
        }
}else{
    textField.textContent = 'your input is empty';
    textField.style.color = "red";
}
}


function cpasswordValidation(inputTxt){

var regx =  document.getElementById("password").value;
var regy =  document.getElementById("cpassword").value;
var textField = document.getElementById("pa1");
var textField1 = document.getElementById("pa2");

if(inputTxt.value != '' ){
        if(regx == regy){
            textField.textContent = '';
            textField.style.color = "green";

        }else{
            textField.textContent = 'not match';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = '';
        textField.style.color = "red";
    }
}




           
function validation(){
        var fname=document.getElementById('firstname').value;
        var regx = /^[A-Za-z]+$/;

          if(fname==""){
             document.getElementById('name').innerHTML="**Please enter your firstname";
             return false;
          }
          else{
             document.getElementById('name').innerHTML="";
          }

          if((fname.length<=2)||(fname.length>20)){
             document.getElementById('name').innerHTML="**your firstname must include more characters";
             return false;
          }
          else{
             document.getElementById('name').innerHTML="";
          }

           
          if(!fname.match(/^[A-Za-z]+$/)){

             document.getElementById('name').innerHTML="**Only characters are allowed";
             return false;

          }
          else{
             document.getElementById('name').innerHTML="";
          }


          var lname=document.getElementById('lastname').value;
          if(lname==""){
             document.getElementById('names').innerHTML="**Please enter your lastname";
             return false;
          }
          else{
             document.getElementById('names').innerHTML="";
          }

          if((lname.length<=1)||(lname.length>20)){
             document.getElementById('names').innerHTML="**your firstname must include more characters";
             return false;
          }
          else{
             document.getElementById('names').innerHTML="";
          }


          if(!lname.match(/^[A-Za-z\s, ]+$/)){

            document.getElementById('names').innerHTML="**Only characters are allowed";
            return false;

            }
            else{
            document.getElementById('names').innerHTML="";
            }
        
        // var detail=document.getElementById('details').value;

        // if(detail==""){
        // document.getElementById('addr').innerHTML="**Please enter your address";
        // return false;
        // }
        // else{
        // document.getElementById('addr').innerHTML="";
        // }
        // if((detail.length<=4)||(detail.length>60)){

        // document.getElementById('addr').innerHTML="**User length must include more characters";
        // return false;

        // }
        // else{
        // document.getElementById('addr').innerHTML="";
        // }

        // if (!detail.match(/^[a-zA-Z\s,()'-]*$/)) 
        // {
        //     document.getElementById('email').innerHTML="**enter a Valid Email";
        //     return false;
        // }
        // else{
        //     document.getElementById('email').value = "";
        // }
    
        var val = document.getElementById('email').value;
        if(val==""){
        document.getElementById('mail').innerHTML="**Please enter your address";
        return false;
        }
        else{
        document.getElementById('mail').innerHTML="";
        }

        if (!val.match(/([A-z0-9_\-\.]){1,}\@([A-z0-9_\-\.]){1,}\.([A-Za-z]){2,4}$/)) 
        {
            document.getElementById('mail').innerHTML="**enter a Valid Email";
            return false;
        }
        else{
            document.getElementById('mail').value = "";
        }


        var phon=document.getElementById('mobile').value;
        if(phon==""){

            document.getElementById('pho').innerHTML="**Please enter your phone number";
            return false;
        }
        else{
            document.getElementById('pho').innerHTML="";
        }
        if(!phon.match(/^[6-9][0-9]{9}$/)){

            document.getElementById('pho').innerHTML="**Please enter a valid phone number";
            return false;
        }
        else{
            document.getElementById('pho').innerHTML="";
        }
        if(phon.length!=10){

            document.getElementById('pho').innerHTML="**Phone number must be 10 digits only";
            return false;
        }
        else{
            document.getElementById('pho').innerHTML="";
        }


        // var cities=document.getElementById('city').value;
        // if(cities==""){
        // document.getElementById('cit').innerHTML="**Please enter your city";
        // return false;
        // }
        // else{
        //     document.getElementById('cit').innerHTML="";
        // }
        // if(!cities.match(/^[a-zA-Z\s, ]+$/)){
        // document.getElementById('cit').innerHTML="**enter a valid city";
        // return false;
        // }
        // else{
        // document.getElementById('cit').innerHTML="";
        // }
        // if((cities.length<=4)||(detail.length>60)){

        // document.getElementById('cit').innerHTML="**User length must include more characters";
        // return false;

        // }
        // else{
        // document.getElementById('cit').innerHTML="";
        // }

        // var cities=document.getElementById('district').value;
        // if(cities==""){
        // document.getElementById('states').innerHTML="**Please enter your district";
        // return false;
        // }
        // else{
        //     document.getElementById('states').innerHTML="";
        // }
        // if(!cities.match(/^[a-zA-Z\s, ]+$/)){
        // document.getElementById('states').innerHTML="**enter a valid district";
        // return false;
        // }
        // else{
        // document.getElementById('states').innerHTML="";
        // }
        // if((cities.length<=3)||(detail.length>60)){

        // document.getElementById('states').innerHTML="**User length must include more characters";
        // return false;

        // }
        // else{
        // document.getElementById('states').innerHTML="";
        // }

        // var code=document.getElementById('pincode').value;  
        // if (code=="")   
        // {  
        //     document.getElementById('pin').innerHTML="**Please enter the pincode";
        //     return false;
        // }   
        // else   
        // {  
        //     document.getElementById('pin').innerHTML=""; 
        // } 
       
        // if(!code.match(/^[6][0-9]{5}$/)){

        // document.getElementById('pin').innerHTML="**enter a valid pincode";
        // return false;

        // }
        // else{
        // document.getElementById('pin').innerHTML="";
        // }
        // if(code.length!=6){

        // document.getElementById('pin').innerHTML="**enter a valid pincode";
        // return false;
        // }
        // else{
        // document.getElementById('pin').innerHTML="";
        // }

        // // var fe=document.getElementById('f').Checked;
        // // var ma=document.getElementById('m').checked;
        // // if(ma == true) {   
        // //         document.getElementById("dis").innerHTML ="You have selected male any";   
        // //         return false;
        // //     }   
        // //     else if(fe == true){   
        // //         document.getElementById("dis").innerHTML = "You have selected female any";  
        // //         return false; 
        // //     }  
        // //     else{
        // //         document.getElementById("dis").innerHTML = "You have not selected  any";
        // //     }

        var val = document.getElementById('password').value;
        if(val=="")
        {
            document.getElementById('pa1').innerHTML="**Password can't be null!!";
            return false;
        }
        else{
            document.getElementById('pa1').value = "";
        }
        if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/)) 
        {
            document.getElementById('pa1').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters'";
            return false;
        }
        else{
            document.getElementById('pa1').value = "";
        }
         
        // var val = document.getElementById('pwd').value;
        // var pattern = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
        // if (val != pattern) 
        // {
        //     document.getElementById('pass1').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters";
        //     return false;
        // }
        // else{
        //     document.getElementById('pass1').value = "";
        // }

        var ps2=document.getElementById('cpassword').value;
        if(ps2==""){
        document.getElementById('pa2').innerHTML="**confrim password can't be null!!";
        return false;
        }
        else{
        document.getElementById('pa2').innerHTML="";
        }
        if(ps2!= document.getElementById('pwd').value){
        document.getElementById('pa2').innerHTML="**passwords should be matching";
        return false;
        }
        else{
        document.getElementById('pa2').innerHTML="";
        }

        // if(val!=ps2){
        // document.getElementById('pass2').innerHTML="**passwords should be matching";
        // return false;
        // }
        // else{
        // document.getElementById('pass2').innerHTML="";
        // }
}

</script>

{% endblock %}
</body>
</html>	